   <!-- Page 1 -->
  <div class="tab" id="tab1">
     <ul class="list-videos">
       <li style="position: relative;" class="video-li text-center">
          <a style="position: absolute; left: 0;
          bottom: 0;top: 0; width: 220px; height: 224px;padding-left:45px; z-index: 5;" href="#/video-show"><div style="width: 46px; height: 46px; margin: auto;margin-top: 50px;opacity: 0.5;"><img src="images/play.png"></div></a>
          <div style="width: 220px; height: 142px; margin: auto; margin-top: 10px;" ><img src="/images/1.jpg" class="img-responsive">
          </div>
          <div style="border-bottom: 1px solid #fff" class="video-breif">
            <p style="font-size: 1.5em; padding: 20px;" class="text-center">مسلسل احلام سعيدة</p>
          </div>
          <div style="padding-top: 10px;">
            <div style="float: left; height: 100%; width:33.33%;border-right: 1px solid #fff">
              <p style="margin-bottom: 2px;">5</p>
              <span class="fa fa-thumbs-o-up fa-lg text-muted"></span>
            </div>
            
            <div style="float: left; height: 100%; width:33.33%;border-right: 1px solid #fff">
              <p style="margin-bottom: 2px;">-</p>
              <span class="fa fa-clock-o fa-lg text-muted"></span>
            </div>
            
            <div style="float: left; height: 100%; width:33.33%;border-right: 1px solid #fff">
              <p style="margin-bottom: 2px;">500</p>
              <span class="fa fa-eye fa-lg text-muted"></span>
            </div>
          </div>
          
       </li>
       <li style="position: relative;" class="video-li text-center">
          <a style="position: absolute; left: 0;
          bottom: 0;top: 0; width: 220px; height: 224px; z-index: 5;" href="#video-page"><div style="width: 46px; height: 46px; margin: auto;margin-top: 50px;opacity: 0.5;"><img src="/images/play.png"></div></a>
          <div style="width: 220px; height: 142px; margin: auto; margin-top: 10px;" ><img src="images/1.jpg" class="img-responsive">
          </div>
          <div style="border-bottom: 1px solid #fff" class="video-breif">
            <p style="font-size: 1.5em; padding: 20px;" class="text-center">مسلسل احلام سعيدة</p>
          </div>
          <div style="padding-top: 10px;">
            <div style="float: left; height: 100%; width:33.33%;border-right: 1px solid #fff">
              <p style="margin-bottom: 2px;">5</p>
              <span class="fa fa-thumbs-o-up fa-lg text-muted"></span>
            </div>
            
            <div style="float: left; height: 100%; width:33.33%;border-right: 1px solid #fff">
              <p style="margin-bottom: 2px;">-</p>
              <span class="fa fa-clock-o fa-lg text-muted"></span>
            </div>
            
            <div style="float: left; height: 100%; width:33.33%;border-right: 1px solid #fff">
              <p style="margin-bottom: 2px;">500</p>
              <span class="fa fa-eye fa-lg text-muted"></span>
            </div>
          </div>
          
       </li>
       <li style="position: relative;" class="video-li text-center">
          <a style="position: absolute; left: 0;
          bottom: 0;top: 0; width: 220px; height: 224px; z-index: 5;" href="#video-page"><div style="width: 46px; height: 46px; margin: auto;margin-top: 50px;opacity: 0.5;"><img src="images/play.png"></div></a>
          <div style="width: 220px; height: 142px; margin: auto; margin-top: 10px;" ><img src="images/1.jpg" class="img-responsive">
          </div>
          <div style="border-bottom: 1px solid #fff" class="video-breif">
            <p style="font-size: 1.5em; padding: 20px;" class="text-center">مسلسل احلام سعيدة</p>
          </div>
          <div style="padding-top: 10px;">
            <div style="float: left; height: 100%; width:33.33%;border-right: 1px solid #fff">
              <p style="margin-bottom: 2px;">5</p>
              <span class="fa fa-thumbs-o-up fa-lg text-muted"></span>
            </div>
            
            <div style="float: left; height: 100%; width:33.33%;border-right: 1px solid #fff">
              <p style="margin-bottom: 2px;">-</p>
              <span class="fa fa-clock-o fa-lg text-muted"></span>
            </div>
            
            <div style="float: left; height: 100%; width:33.33%;border-right: 1px solid #fff">
              <p style="margin-bottom: 2px;">500</p>
              <span class="fa fa-eye fa-lg text-muted"></span>
            </div>
          </div>
          
       </li>
       <li style="position: relative;" class="video-li text-center">
          <a style="position: absolute; left: 0;
          bottom: 0;top: 0; width: 220px; height: 224px; z-index: 5;" href="#video-page"><div style="width: 46px; height: 46px; margin: auto;margin-top: 50px;opacity: 0.5;"><img src="images/play.png"></div></a>
          <div style="width: 220px; height: 142px; margin: auto; margin-top: 10px;" ><img src="images/1.jpg" class="img-responsive">
          </div>
          <div style="border-bottom: 1px solid #fff" class="video-breif">
            <p style="font-size: 1.5em; padding: 20px;" class="text-center">مسلسل احلام سعيدة</p>
          </div>
          <div style="padding-top: 10px;">
            <div style="float: left; height: 100%; width:33.33%;border-right: 1px solid #fff">
              <p style="margin-bottom: 2px;">5</p>
              <span class="fa fa-thumbs-o-up fa-lg text-muted"></span>
            </div>
            
            <div style="float: left; height: 100%; width:33.33%;border-right: 1px solid #fff">
              <p style="margin-bottom: 2px;">-</p>
              <span class="fa fa-clock-o fa-lg text-muted"></span>
            </div>
            
            <div style="float: left; height: 100%; width:33.33%;border-right: 1px solid #fff">
              <p style="margin-bottom: 2px;">500</p>
              <span class="fa fa-eye fa-lg text-muted"></span>
            </div>
          </div>
          
       </li>
       <li style="position: relative;" class="video-li text-center">
          <a style="position: absolute; left: 0;
          bottom: 0;top: 0; width: 220px; height: 224px; z-index: 5;" href="#video-page"><div style="width: 46px; height: 46px; margin: auto;margin-top: 50px;opacity: 0.5;"><img src="images/play.png"></div></a>
          <div style="width: 220px; height: 142px; margin: auto; margin-top: 10px;" ><img src="images/1.jpg" class="img-responsive">
          </div>
          <div style="border-bottom: 1px solid #fff" class="video-breif">
            <p style="font-size: 1.5em; padding: 20px;" class="text-center">مسلسل احلام سعيدة</p>
          </div>
          <div style="padding-top: 10px;">
            <div style="float: left; height: 100%; width:33.33%;border-right: 1px solid #fff">
              <p style="margin-bottom: 2px;">5</p>
              <span class="fa fa-thumbs-o-up fa-lg text-muted"></span>
            </div>
            
            <div style="float: left; height: 100%; width:33.33%;border-right: 1px solid #fff">
              <p style="margin-bottom: 2px;">-</p>
              <span class="fa fa-clock-o fa-lg text-muted"></span>
            </div>
            
            <div style="float: left; height: 100%; width:33.33%;border-right: 1px solid #fff">
              <p style="margin-bottom: 2px;">500</p>
              <span class="fa fa-eye fa-lg text-muted"></span>
            </div>
          </div>
          
       </li>
     </ul>
  </div>
  <p style="clear: both;"></p>