 <div style="padding-top: 50px;" class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          
          <div class="jumbotron">
         <!--  <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p> -->
          <!-- <iframe style="width: 100%; height:100%;" src="https://www.youtube.com/embed/q-FxitiOvlY" frameborder="0" allowfullscreen></iframe> -->
            <video style="width: 100%; height:500px;"  controls>
              <source src="movie.mp4" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="row">
            <div class="col-xs-12 text-right">
              <h2>مسلسل <span>رأفت الهجان</span> الحلقة <span>2</span></h2>
              <p>هو مسلسل من بطولة الفنان الراحل محمود عبد العزيز هو مسلسل من بطولة الفنان الراحل محمود عبد العزيز هو مسلسل من بطولة الفنان الراحل محمود عبد العزيز هو مسلسل من بطولة الفنان الراحل محمود عبد العزيز هو مسلسل من بطولة الفنان الراحل محمود عبد العزيز  هو مسلسل من بطولة الفنان الراحل محمود عبد العزيز هو مسلسل من بطولة الفنان الراحل محمود عبد العزيز هو مسلسل من بطولة الفنان الراحل محمود عبد العزيز </p>
              <p><a class="btn btn-default" href="#" role="button">مشاهدة التفاصيل  </a></p>
            </div>
           
          

      
                <div class="row">
              <div class="col-xs-6 col-lg-4 text-right pull-right">
              <h3>الحلقة <span>3</span></h3>
              <li style="padding:0;margin-bottom: 20px;"  class="video-li list-unstyled text-right ">
                
                <div style="width: 100%; margin: auto;" class="text-left" ><img  style="width: 100%" src="/images/1.jpg" class="img-responsive">
                </div>
          
         
              </li>
              <p><a class="btn btn-default" href="#" role="button">مشاهدة الحلقة  </a></p>
            </div>

             <div class="col-xs-6 col-lg-4 text-right pull-right">
              <h3>الحلقة <span>3</span></h3>
              <li style="padding:0;margin-bottom: 20px;" class="video-li list-unstyled text-right">
                
                <div style="width: 100%; margin: auto;" class="text-left" ><img  style="width: 100%" src="/images/1.jpg" class="img-responsive">
                </div>
          
         
              </li>
              <p><a class="btn btn-default" href="#" role="button">مشاهدة الحلقة  </a></p>
            </div>
             <div  class="col-xs-6 col-lg-4 text-right pull-right">
              <h3>الحلقة <span>3</span></h3>
              <li style="padding:0;margin-bottom: 20px;" class="video-li list-unstyled text-right">
                
                <div style="width: 100%; margin: auto;" class="text-left" ><img  style="width: 100%" src="/images/1.jpg" class="img-responsive">
                </div>
          
         
              </li>
              <p><a class="btn btn-default" href="#" role="button">مشاهدة الحلقة  </a></p>
            </div>

            </div>
     
           
           
          </div><!--/row-->
        </div>

        <div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div  class="list-group text-right">
            <a href="#" class="list-group-item active"><i class="fa fa-pause pull-left" aria-hidden="true"></i>الحلقة الثنية </a>
            <a href="#" class="list-group-item"><i class="fa fa-play pull-left" aria-hidden="true"></i> الحلقة الثانية </a>
            <a href="#" class="list-group-item"><i class="fa fa-play pull-left" aria-hidden="true"></i>الحلقة الثالثة</a>
            <a href="#" class="list-group-item"><i class="fa fa-play pull-left" aria-hidden="true"></i>الحلقة الرابعة </a>
            <a href="#" class="list-group-item"><i class="fa fa-play pull-left" aria-hidden="true"></i>الحلقة الخامسة </a>
            <a href="#" class="list-group-item"><i class="fa fa-play pull-left" aria-hidden="true"></i>الحلقة السادسة </a>
            <a href="#" class="list-group-item"><i class="fa fa-play pull-left" aria-hidden="true"></i>الحلقة السابعة </a>
            <a href="#" class="list-group-item"><i class="fa fa-play pull-left" aria-hidden="true"></i>الحلقة الثامنة </a>
            <a href="#" class="list-group-item"><i class="fa fa-play pull-left" aria-hidden="true"></i>الحلقة التاسعة </a>
            
            <a href="#" class="list-group-item"><i class="fa fa-play pull-left" aria-hidden="true"></i>الحلقة الثالثة</a>
            <a href="#" class="list-group-item"><i class="fa fa-play pull-left" aria-hidden="true"></i>الحلقة الرابعة </a>
            <a href="#" class="list-group-item"><i class="fa fa-play pull-left" aria-hidden="true"></i>الحلقة الخامسة </a>
            <a href="#" class="list-group-item"><i class="fa fa-play pull-left" aria-hidden="true"></i>الحلقة السادسة </a>
            <a href="#" class="list-group-item"><i class="fa fa-play pull-left" aria-hidden="true"></i>الحلقة السابعة </a>
            <a href="#" class="list-group-item"><i class="fa fa-play pull-left" aria-hidden="true"></i>الحلقة الثامنة </a>
            <a href="#" class="list-group-item"><i class="fa fa-play pull-left" aria-hidden="true"></i>الحلقة التاسعة </a>
            <a href="#" class="list-group-item"><i class="fa fa-play pull-left" aria-hidden="true"></i>الحلقة العاشرة </a>
          </div>
        </div>
      </div>

      <hr>


    </div>
